* {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'Dakota';
  src: url('../fonts/ufonts.com_dakota_regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ufonts.com_dakota_regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ufonts.com_dakota_regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  background-color: #000000;
  overflow-x: hidden;
}

#menu ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
#menu ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #8aa2af;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#menu ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#menu ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
}


@media screen and (min-width: 620px)
{
	body {
		overflow: hidden;
	}
	
	#menu {
		width: auto;
		background-color: rgb(138, 162, 175);
		text-align: left;
	}

	#menu ul li ul li:hover { background: #666; }
	#menu ul li:hover ul {
	  display: block;
	  opacity: 1;
	  visibility: visible;
	}
	#menu ul li:hover {
	  background: #555;
	  color: #fff;
	}

}

#container {
	position: relative;
}

#indicator {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 3px;
	width: 20px;
	height: 4px;
	background-color: #888;
	border: none;
	margin: 0 5px 0 5px;
}

#logo {
	text-align: left;
	padding: 10px;
	background-color: #fff;
}

#logo img {
	width: 75%;
	max-width: 500px;
}

#pattern {
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/pattern.png) no-repeat;
	width: 300px;
  	height: 223%;
}

section {
	background-color: black;
	width: 100%;
}

article {
	float: left;
	min-width: 200px;
	width: 33%;
	background-color: black;
}

.article {
	padding: 30px;
}

h1 {
	color: white;
}

.atrticle-title {
	font-family: 'Dakota';
}

aside {
	float: left;
	width: 67%;
	background-color: black;
	overflow: hidden;
}


.container {
	overflow: hidden;
	max-width: 100%;

	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 5;
	background-color: black;
}

#slider {
	-webkit-transform: translateX(0px);
	display: table;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

#slider .item {
	display:  table-cell;
	min-width: 150px;
	height: 150px;
}

#slider .overlay {
	display: none;
}

#slider.disabled .overlay {
	display: block;
	width: 100%;
	background: rgba(0,0,0,0.9);
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	z-index:10;
}

.nav-trigger {
		position: absolute;
		clip: rect(0, 0, 0, 0);
	}
	
.image-close {
	position: absolute;
	top: 20px;
	right: 0;
}

.image-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.image-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

.button-close {
	width: 52px;
	height: 52px;
	background: url('../img/round_delete.png') no-repeat;
	border: none;
}

.button-left {
	width: 128px;
	height: 128px;
	background: url('../img/arrow_left.png') no-repeat;
	border: none;
}

.button-right {
	width: 128px;
	height: 128px;
	background: url('../img/arrow_right.png') no-repeat;	
	border: none;
}

.image-viewer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background: rgba(0,0,0,0.9);
}

@media screen and (max-width: 620px)
{
	aside, article {
		width: 100%;
	}

	#pattern {
		display: none;
	}
	
	#logo img {
		width: 100%;
	}
	
	#menu > ul {
		list-style: none;
		height: 100%;
		position: fixed;
		top: 69px;
		bottom: 0;
		left: 0;
		z-index: 1;
		overflow-y: hidden;
		padding: 0;
	}
	
	#menu ul li {
		display: block;
		padding: 3px 0px 6px 10px;
		background-color: rgb(0, 0, 0);
		font-weight: bold;
		color: white;
	}
	
	#menu ul li ul {
		position: static;
		display: block;
		opacity: 1;
		visibility: visible;
		width: 184px;
	}
	
	#menu ul li ul li { 
		background-color: rgb(0, 0, 0);
		font-weight: normal;
		padding-left: 20px;
	}
	
	section {
		min-width: 100%;
		min-height: 100%;
		position: relative;
		top: 0;
		bottom: 100%;
		left: 0;
		z-index: 1;
	}
	
	label[for="nav-trigger"] {
		position: absolute;
		top: 120%;
		left: 10px;
		z-index: 7;
		width: 30px;
		height: 30px;
		cursor: pointer;
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' style='fill:rgb(138, 162, 175);'/><rect y='24' width='30' height='6' style='fill:rgb(138, 162, 175);'/><rect y='12' width='30' height='6' style='fill:rgb(138, 162, 175);'/></svg>");
		background-size: contain;
	}
	
	.nav-trigger:checked + label {
		left: 215px;
	}
	 
	.nav-trigger:checked ~ section {
		left: 200px;
	}
	
	.nav-trigger:checked ~ div.container  {
		display: none;
	}
	
	#slider .item {
		min-width: 75px;
		height: 75px;
	}
	
}
Status API Training Shop Blog About Pricing
© 2015 GitHub, Inc. Terms Privacy Security Contact Help