* {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'Dakota';
  src: url('../fonts/ufonts_com_dakota_regular.eot') format('embedded-opentype'); /* IE6-IE8 */
  src: url('../fonts/ufonts_com_dakota-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ufonts_com_dakota-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  background-color: #000000;
  overflow-x: hidden;
}

/* ------------------------ MENU ---------------------------------*/

#menu ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
#menu ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #8aa2af;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#menu ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#menu ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
}


@media screen and (min-width: 670px)
{
	
	#menu {
		width: auto;
		background-color: rgb(138, 162, 175);
		text-align: left;
	}

	#menu ul li ul li:hover { background: #666; }
	#menu ul li:hover ul {
	  display: block;
	  opacity: 1;
	  visibility: visible;
	}
	#menu ul li:hover {
	  background: #555;
	  color: #fff;
	}

}

@media screen and (max-width: 670px)
{

	#menu > ul {
		list-style: none;
		height: 100%;
		position: fixed;
		top: 83px;
		bottom: 0;
		left: 0;
		z-index: 1;
		overflow-y: hidden;
		padding: 0;
	}
	
	#menu ul li {
		display: block;
		padding: 3px 0px 6px 10px;
		background-color: rgb(0, 0, 0);
		font-weight: bold;
		color: white;
	}
	
	#menu ul li ul {
		position: static;
		display: block;
		opacity: 1;
		visibility: visible;
		width: 184px;
	}
	
	#menu ul li ul li { 
		background-color: rgb(0, 0, 0);
		font-weight: normal;
		padding-left: 20px;
	}

	.nav-trigger:checked + label {
		left: 10px;
	}
	 
	.nav-trigger:checked ~ div {
		left: 200px;
		border-left: solid #8AA2AF 1px;
	}
	
	.nav-trigger:checked ~ div.cbp-container  {
		display: none;
	}

	label[for="nav-trigger"] {
		position: absolute;
		top: 14px;
    	right: 10px;
		z-index: 7;
		width: 30px;
		height: 30px;
		cursor: pointer;
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' style='fill:rgb(138, 162, 175);'/><rect y='24' width='30' height='6' style='fill:rgb(138, 162, 175);'/><rect y='12' width='30' height='6' style='fill:rgb(138, 162, 175);'/></svg>");
		background-size: contain;
	}

}

@media screen and (max-width: 490px)
{
	#menu > ul {
		top: 220px;
	}
}

/* ------------------------  END MENU ---------------------------------*/


/* ------------------------ SITE STYLES  ---------------------------------*/

/* ------------------------ LAYOUT ---------------------------------*/


#container {
	position: relative;
	min-width: 300px;
	margin-bottom: 150px;
}

#indicator {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 3px;
	width: 20px;
	height: 4px;
	background-color: #888;
	border: none;
	margin: 0 5px 0 5px;
}

#pattern {
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/pattern.png) no-repeat;
	width: 300px;
  	height: 275px;
}

section {
	background-color: black;
	width: 100%;
	display: table;
}

article {
	display: table-cell;
	width: 33%;
	vertical-align: top;
	min-width: 300px;
}

aside {
	display: table-cell;
	background-color: black;
	overflow: hidden;
	vertical-align: middle;
    text-align: center;
}

h1 {
	color: white;
}

.cbp-logo {
	text-align: left;
	padding: 10px;
	color: rgb(138, 162, 175);
	background-color: #fff;
}

.cbp-logoText {
	font-size: 3em;
}

.cbp-tel {
	font-size: 1.5em;
}

.cbp-email {
	padding-left: 20px;
}

.cbp-emailLink {
	font-size: 1.5em;
	text-decoration: none;
	color: rgb(138, 162, 175);
}

.cbp-article {
	padding: 30px;
	text-align: left;
}

.cbp-article-title {
	font-size: 2em;	
	margin-bottom: 40px;
}

.cbp-article-description {
	color: white;
	line-height: 2em;
}

.cbp-container {
	overflow: hidden;
	max-width: 100%;

	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 5;
	background-color: black;
}

.cbp-sideimage {
	max-width: 100%;
}

@media screen and (max-width: 768px)
{
	#pattern {
		display: none;
	}
}

@media screen and (max-width: 670px)
{
	#container {
		margin-bottom: 0px;
	}

	aside, article {
		display: block;
		width: 100%;
	}

	aside {
		margin-bottom: 75px;
	}
	
	section {
		min-width: 100%;
		min-height: 100%;
		position: relative;
		top: 0;
		bottom: 100%;
		left: 0;
		z-index: 1;
	}
	
	.cbp-logoText {
		font-size: 2em;
	}

	.cbp-article-title {
	    font-size: 1.5em;
	    margin-bottom: 20px;
	}


	
}

@media screen and (max-width: 490px)
{
	.cbp-tel {
		display: block;
	    width: 100%;
	    padding: 20px 0px;
	    font-size: 2.8em;
	    min-width: 356px;
	}

	.cbp-email {
		display: block;
	    width: 100%;
	    padding: 0 0 20px 0;
	    font-size: 1.17em;
	    min-width: 356px;
	}
}

@media screen and (max-width: 458px)
{
	.cbp-logoText {
		font-size: 1.3em;
	}

	label[for="nav-trigger"] {
	    top: 6px;
	}
}

/* ------------------------ END LAYOUT ---------------------------------*/



/* ------------------------ STYLE CLASSES ---------------------------------*/

.dakota {
	font-family: 'Dakota', Helvetica, Arial, sans-serif;
}



/* ------------------------ END STYLE CLASSES ---------------------------------*/


/* ------------------------ SLIDER ---------------------------------*/

#slider {
	-webkit-transform: translateX(0px);
	display: table;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

#slider .item {
	display:  table-cell;
	min-width: 150px;
	height: 150px;
}

#slider .overlay {
	display: none;
}

#slider.disabled .overlay {
	display: block;
	width: 100%;
	background: rgba(0,0,0,0.9);
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	z-index:10;
}

@media screen and (max-width: 700px)
{
	#slider .item {
		min-width: 75px;
		height: 75px;
	}

}


/* ------------------------ END SLIDER ---------------------------------*/


/* ------------------------ IMAGE VIEWER ---------------------------------*/

.nav-trigger {
		position: absolute;
		clip: rect(0, 0, 0, 0);
	}
	
.image-close {
	position: absolute;
	top: 65px;
	right: 0;
}

.image-left {
	position: absolute;
	bottom: 140px;
	left: 0;
}

.image-right {
	position: absolute;
	bottom: 140px;
	right: 0;
}

.button-close {
	width: 52px;
	height: 52px;
	background: url('../img/round_delete.png') no-repeat;
	border: none;
}

.button-left {
	width: 128px;
	height: 128px;
	background: url('../img/arrow_left.png') no-repeat;
	border: none;
}

.button-right {
	width: 128px;
	height: 128px;
	background: url('../img/arrow_right.png') no-repeat;	
	border: none;
}

.image-viewer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.9);
	z-index: 3;
}

@media screen and (max-width: 670px)
{
	.image-viewer img {
		max-width: 100%;
	}

	.image-left {	
		bottom: 50px;
	}

	.image-right {
		bottom: 50px;
	}

	.button-left {
		background-size: 100px;
	}

	.button-right {
		background-size: 100px;
	}

}

/* ------------------------ IMAGE VIEWER ---------------------------------*/

